
html {
    font-size: 15px;
    background-image: url("https://images.unsplash.com/photo-1508973379184-7517410fb0bc?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80");
    background-size: cover;
    background-repeat: no-repeat;
}
    
body,html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h1,h3 {
    text-align: center;
    font-family: sans-serif;
    font-size: 50px;
    color: black
}

h3 {
    text-align: right;
    margin: 5rem;
    
}

.radio {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin-right: 100px;
    
}

label {
    color: white;
    font-size: 2rem;
    padding: .4em 2rem;
    width: 7rem;
    text-align: center;
    border: .2rem solid black;
    border-radius: .5rem;
    margin: 1.5rem;
    background: rgba(0, 0, 0, 0.575);
    text-shadow: 0 0 .5rem black;
    position: relative;
    top: 12rem;
}


.keys {
    display: flex;
    flex: 1;
    min-height: 40vh;
    align-items: center;
    justify-content: center;
}

.drumpad {
    border: .4rem solid black;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 10rem;
    text-align: center;
    color: white;
    background-image: linear-gradient( 109.6deg,  rgba(5,84,94,1) 16%, #bbb 91.1% );
    text-shadow: 0 0 .5rem black;
    position: relative;
    top: 4rem;
    
}

.playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
}

kbd {
    display: block;
    font-size: 4rem;
}

.inst {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: black;
}